<!-- css includes for bootpstrap -->
<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="node_modules/bootstrap-icons/font/bootstrap-icons.css">

<!-- Slick Grid -->
<link rel="stylesheet" href="node_modules/slickgrid/slick.grid.css" type="text/css"/>
<link rel="stylesheet" href="node_modules/slickgrid/css/smoothness/jquery-ui.css" type="text/css"/>

<!-- css includes for this app -->
<link rel="stylesheet" href="css/browser-min.css">

<!-- css for datatables-->
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css">