<!-- Loading Data modal -->

<div class="modal" id="loadingModal" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  
  <div class="modal-dialog">
      
    <div class="modal-content">
        
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Loading </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
      <div class="modal-body" id="loadingModalText">
        Loading JSON and HTML data for the document.
      </div>

    </div>
    
  </div>
  
</div>

<!-- error modal -->
<div class="modal" id="loadingError" tabindex="-1" aria-hidden="true">
    
    <div class="modal-dialog">
        
      <div class="modal-content">
          
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Error</h5>
          <button type="button" class="btn-close btn-warning" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
        <div class="modal-body" id="errorModalText">
          Loading JSON and HTML data for the document.
        </div>
  
      </div>
      
    </div>
    
  </div>