<main class="col-md-9 ms-sm-auto col-lg-10 p-0 m-0">

<div class="w-100 d-flex flex-wrap">

    <div class="row w-100 mainContent">
        
        <div class="col-lg-9 p-4" id="tableArea">

            <div class="introContent">
                
                <h4 id="conquestofelysium5almanac">Conquest of Elysium 5 Almanac</h4>
                
                <p>The Conquest of Elysium 5 Almanac is a web-application that allows you to view
                the currently available data for the <a href="http://www.illwinter.com/coe5/index.html">Conquest of Elysium 5</a> game. This is a fan project and is <strong>not</strong>
                affiliated with <a href="http://www.illwinter.com">Illwinter Game Design</a>.</p>
                
                <p>The Spell and Ritual data was provided by Steam user <a href="https://steamcommunity.com/profiles/76561198027028807">Outis</a>. The
                Spell list was created with the Help of the <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=2584723182">Mage Tool mod</a> by Mohreb.</p>
                
                <p>The Spell and Ritual data is <a href="https://docs.google.com/spreadsheets/d/1nboFWYKpFNFtAu4nN_ZnQ0yNW-Mz3pYegDx9fVUr7Q4/edit#gid=0">available on Google Docs</a>.</p>
                
                <p>Modding Command data was compiled by pixelgeek from the Modding Documentation
                (<a href="http://www.illwinter.com/coe5/coe5modding.html">online</a> or <a href="http://www.illwinter.com/coe5/coe5modding.pdf">pdf</a>) provided by Illwinter.</p>
                
                <p>Other data such as the Ritual Summoning data was provided by pixelgeek.</p>
                
                <p>All of the data in the Almanac is available in a <a href="https://github.com/lolbat/Conquest-of-Elysium-5-data">Github repository</a> in multiple formats if you are interested in using it for your own projects.</p>
                
                <p>If you are interested in helping document the game and build the data tables then check out the <a href="https://discord.gg/Fd85tnttM4">CoE5 Discord</a>.</p>
                
                
            </div>

        </div>
        
        <div class="col-lg-3 bg-lightgrey ml-0 p-0" id="pinArea">
            
        </div>
        
    </div>

</div>

</main>