<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse">

  <div class="list-group mt-3 sidebarButtons">
    
        <button type="button" data-docname="modding" class="list-group-item list-group-item-action btn-sm align-middle docButton documentButton mt-1">
          <i class="bi bi-file-earmark-spreadsheet-fill iconColorFill"></i>  Modding Commands
        </button>

       <button type="button" data-docname="spells" class="list-group-item list-group-item-action btn-sm align-middle docButton documentButton mt-1">
          <i class="bi bi-file-earmark-spreadsheet-fill iconColorFill"></i>  Spells
        </button> 
        
       <button type="button" data-docname="rituals" class="list-group-item list-group-item-action btn-sm align-middle docButton documentButton mt-1">
         <i class="bi bi-file-earmark-spreadsheet-fill iconColorFill"></i>  Rituals
       </button>
       
       <button type="button" data-docname="ritualsummons" class="list-group-item list-group-item-action btn-sm align-middle summonsButton documentButton mt-1">
         <i class="bi bi-file-earmark-spreadsheet-fill iconColorFill"></i>  Ritual Summons
       </button>
       
       <button type="button" id="menuCollpaseButton" data-docname="tables" data-bs-toggle="collapse" data-bs-target="#flush-menuCollapse" class="list-group-item list-group-item-action btn-sm align-middle docButton mt-1">
          <i class="bi bi-folder-fill iconColorFill"></i>  Modding Tables
        </button>
        
       <div id="flush-menuCollapse" class="accordion-collapse collapse" data-bs-parent="#menuCollpaseButton">
          <div id="modTableList">
            
          </div>
        </div>
        
  </div>
  
</nav>


